html, body {
    display: block;
    box-sizing: border-box;
}

body {
    background-color: rgb(214, 214, 214);   
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.landing-container {
    background-color: #7c7c7c;
    width: 800px;
    height: 400px;

    display: flex;
    justify-content: center;
    align-items: center;
}